/*
JoeyCode -->
*/

/*
IDs -->
*/

#portPic {
	margin: 1%;
	outline: .3vw solid rgba(95, 112, 195, 0.7);
	
	width: 30%;
	
	float: left;
	margin-right:2%;
}

#bio {
	margin: 1%;
	padding: 1%;
	margin-left: 2%;
}

#bioText {
	display: inline;
	text-align: right;
	font-style:italic;
}

/*
Classes -->
*/

.button {
	margin: 3%;
	padding: 2%;
	outline: .3vw solid rgba(95, 112, 195, 0.7);

	font-family: 'Exo 2', sans-serif;
	font-size: 1.5vw;
	text-align: center;
	color: #8fe9ff;
	
	background-image: url("../images/scanline_light.png");
	background-color: rgba(0,0,0,0.4);
	transition-timing-function: ease;
	transition-duration: .5s;
}

.button:hover {
	
	cursor: pointer;
	
	outline: .3vw solid rgba(205,213,238,0.7);
	background-color: rgba(57,75,157,0.8);
	transition-timing-function: ease;
	transition-duration: .65s;
}

.bodyBox {
	padding: 5%;
	outline: .3vw solid rgba(95, 112, 195, 0.7);

	background-image: url("../images/scanline_light.png");
	background-color: rgba(0,0,0,0.5);
}