/*
JoeyCode -->
*/

/*
IDs -->
*/

/*
Classes -->
*/

.button {
	margin: 3%;
	padding: 2%;
	outline: .3vw solid rgba(0,102,0,0.7);

	font-family: 'Exo 2', sans-serif;
	font-size: .875em;
	text-align: center;
	color: #8fe9ff;
	
	background-image: url("../images/scanline_light.png");
	background-color: rgba(0,0,0,0.4);
	transition-timing-function: ease;
	transition-duration: .5s;
}

.button:hover {
	
	cursor: pointer;
	
	outline: .3vw solid rgba(128,255,128,0.7);
	background-color: rgba(0,140,0,0.8);
	transition-timing-function: ease;
	transition-duration: .65s;
}

.bodySect {
	padding: 5%;
	outline: .3vw solid rgba(0,102,0,0.7);

	background-image: url("../images/scanline_light.png");
	background-color: rgba(0,0,0,0.5);
}